* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    text-align: center;
    background-color: rgb(222, 222, 222);
    margin: 10px 10px 10px 10px;
    min-width: 100px;
    
    

}
.header-image {
    width: 100%;
    background-color: rgb(237, 237, 237);
    height: fit-content;

}
h1,p{
    margin: 20px;

}
img {
    padding-top:50px;
}
main{
    margin: 0 auto;
    width: 100%;
    width: 500px;
    min-width: 100px;
   
}
h2 {
    padding-top: 30px;
}
li {
    padding: 10px;
}
.main-content {
    font-size: 20px;
}
.footer-quote {
    min-width: 100px;
    width: 100%;
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
   
}
.footer {
    width: 600px;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    min-width: 100px;

}